.options-row {
  position: relative;
  display: flex;

  @include max(767) {
    overflow: hidden;
    max-width: calc(100% - 40px);
    margin: 0 auto 8px;
    border-radius: 5px;
  }
}

.options-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 400px;
  padding: 20px;
  text-align: center;
  //opacity: 0;

  @include max(767) {
    justify-content: flex-end;
    min-height: 251px;
    padding: 30px 20px;
  }
}

.options-item--text {
  background-color: $brand;

  @include max(767) {
    width: 100%;
    background-color: transparent;
  }
}

.options-item__bg-img {
  display: none;

  @include max(767) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}

.options-item--pic {
  position: relative;
  overflow: hidden;

  @include max(767) {
    display: none;
  }
  &:hover {
    .options-item__pic {
      transform: scale(1.05);
    }
  }
}

.options-item__pic {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: $transition;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.options-item__top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;

  @include max(767) {
    margin-bottom: 14px;
  }
  &:hover {
    svg {
      transform: translateY(-5px);
    }
  }
  svg {
    fill: #fff;
    width: 58px;
    height: 58px;
    margin-bottom: 10px;
    transition: $transition;
  }
}

.options-item__title {
  font-size: 30px;
  font-weight: normal;
  position: relative;
  color: #fff;

  @include responsive-font(30, 24);
}

.options-item__link {
  line-height: 22px;
  position: relative;
  display: block;
  margin-bottom: 10px;
  transition: $transition;
  color: rgba(255, 255, 255, .7);

  @include responsive-font(18, 14);
  @include max(767) {
    margin-bottom: 0;
  }
  &:hover {
    color: #fff;
  }
}

.options-item__btn {
  min-width: 234px;
  margin-top: 18px;

  @include max(767) {
    display: none;
  }
}
