.page-header {
  padding-top: 40px;
  background-color: #f9f9f9;

  @include max(767) {
    padding-top: 20px;
  }
}

.page-header__title {
  font-weight: bold;
  line-height: 1.22;
  margin-bottom: 30px;
  color: #252525;

  @include responsive-font(36, 24);
  @include max(767) {
    margin-bottom: 20px;
  }
}
