.presents-slider {
  width: calc(100% + 30px);
  margin-bottom: 60px !important;
  margin-left: -15px;
  .slick-track {
    display: flex;
  }
  .prev,
  .next {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin: auto;
    cursor: pointer;

    @include max(1280) {
      display: none !important;
    }

    svg {
      fill: #c8c8c8;
      width: 14px;
      height: 25px;
      transition: $transition;
    }
  }
  .prev {
    transform: translateX(-613px);
    &:hover {
      svg {
        fill: #979d9d;
        transform: translateX(-5px);
      }
    }
  }
  .next {
    transform: translateX(613px);
    &:hover {
      svg {
        fill: #979d9d;
        transform: translateX(5px);
      }
    }
  }
  .slick-dots {
    bottom: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;

    li {
      display: block;
      width: 10px;
      height: 10px;
      margin: 0 10px;
      cursor: pointer;
      transition: $transition;
      border: 2px solid #c8c8c8;
      border-radius: 50%;
      background-color: transparent;
      &.slick-active {
        background-color: #c8c8c8;
      }
    }
  }
}

.presents-slider__item {
  display: flex !important;
  overflow: hidden;
  flex-direction: column;
  height: auto;
  margin: 0 15px;
  transition: $transition;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 5px 30px rgba(57, 57, 87, 0);
  &:hover {
    box-shadow: 0 5px 30px rgba(57, 57, 87, .1);
  }
}

.presents-slider__pic {
  height: 200px;
  img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;
  }
}

.presents-slider__text {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-right: 1px solid rgba(151, 157, 157, .2);
  border-bottom: 1px solid rgba(151, 157, 157, .2);
  border-left: 1px solid rgba(151, 157, 157, .2);
  border-radius: 0 0 5px 5px;

  @include max(767) {
    padding: 20px;
  }
  flex-grow: 1;
  p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 28px;
    color: #252525;
  }
}

.presents-slider__term {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  display: block;
  margin-bottom: 22px;
  color: #979d9d;
}

.presents-slider__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #252525;
}

.presents-slider__btn {
  margin-top: auto;
}
