.container
  //begin advantage-sec__top
  .advantage-sec__top
    //begin advantage-sec__top-item
    .advantage-sec__top-item
      .advantage-sec__top-icon.advantage-sec__top-icon--modem
        img(src="assets/img/modem.png" alt="picture")
      h3.advantage-sec__top-title Подключение<br>всего за 24 часа
      p Правильный интернет меняет всё. В Apelsin.Net есть всё нужное. В итоге ваша работа становиться только лучше и эффективнее
    //end advantage-sec__top-item
    //begin advantage-sec__top-item
    .advantage-sec__top-item
      .advantage-sec__top-icon.advantage-sec__top-icon--rocket
        img(src="assets/img/rocket.png" alt="picture")
      h3.advantage-sec__top-title Интернет на космических<br>скоростях 1 Гбит
      p Безлимитный трафик, одинаково максимальная скорость загрузки и выгрузки данных
    //end advantage-sec__top-item
    //begin advantage-sec__top-item
    .advantage-sec__top-item
      .advantage-sec__top-icon.advantage-sec__top-icon--support
        img(src="assets/img/support.png" alt="picture")
      h3.advantage-sec__top-title Техническая<br>поддержка 24/7
      p Сердечное отношение к каждому клиенту. Мониторинг сети и ликвидация сбоев до обнаружения их абонентом
    //end advantage-sec__top-item
  //end advantage-sec__top

  //begin advantage-sec__body
  .advantage-sec__body
    h3.advantage-sec__body-title Бесплатное подключение высокоскоростного Интернета
    .advantage-sec__body-text
      p Многие люди недооценивают ценность хорошего, шустрого Интернета, пока он не начинает тормозить. Безлимитный проводной скоростной Интернет сегодня доступен каждому и по низким ценам, нужно только выбрать подходящий тарифный план.
      p Апельсин.нет — лучший интернет-провайдер, который обеспечивает киевлян стабильной, быстрой Сетью уже более 15 лет, за это время сформировал профессиональную политику по отношению к клиентам и к работе. Мы можем предложить вам:
      ul.advantage-sec__body-list
        li выгодный, быстрый, безлимитный Интернет, стоимость которого можно узнать в разделе тарифов;
        li мгновенное решение технических неполадок, круглосуточную поддержку;
        li кабельный Интернет, подключение, настройку Wi-Fi;
        li выгодные тарифные планы, акции;
        li стабильный Интернет (300 Мбит).
      p К нам обращаются не только физические лица и люди, которые хотят провести Интернет в квартиру, но и владельцы частных домов, компании, магазины. К каждой заявке мы подходим индивидуально, подбираем самый выгодный тариф для Интернета, выполняем заказ в течение суток с момента первого контакта с клиентом.
      p Если вам нужен Интернет на даче в Киевской области, подключение в частном доме или на крупном предприятии, это обговаривается по отдельному тарифу. Юридическим лицам мы предоставляем смету и все необходимые для начальства документы.
    h3.advantage-sec__body-title Лучший высокоскоростной безлимитный Интернет, тарифы, цены, акции
    .advantage-sec__body-text
      p Новый интернет-провайдер требуется в том случае, если текущий разочаровал вас неполадками или недостаточной скоростью.
      p На нашем сайте вы можете найти тарифы на услугу «безлимитный Интернет», ознакомиться с преимуществами пакетов. Или позвоните операторам, чтобы получить ответы на все интересующие вопросы, если нужно подключить гигабитный Интернет. Если вы не нашли желаемый тариф на сайте, свяжитесь с нами, и мы составим для вас индивидуальный план.
      p Цены на высокоскоростное кабельное подключение к Интернету формируются, исходя из тарифного плана: мы предоставляем Интернет в Киевской области и самой столице, прислушиваемся к пожеланиям заказчиков и постоянно совершенствуем систему работы, чтобы наши клиенты никогда не испытывали проблем со скоростью!

    .advantage-sec__body-footer
      a(href="#").btn.btn--grey.advantage-sec__body-btn
        |Читать далее
        +svg('arr-down')
  //end advantage-sec__body