.container
  //begin news-sec__slider
  .news-sec__slider#news-sec__slider
    //begin news-sec__item
    a(href="#").news-sec__item.news-sec-item
      .news-sec-item__pic
        img(src="assets/img/news-sec-01.jpg" alt="picture")
      .news-sec-item__info
        span.news-sec-item__date 6 апреля / 2020
        h3.news-sec-item__title Статический IP-адрес и его использование
    //end news-sec__item
    //begin news-sec__item
    a(href="#").news-sec__item.news-sec-item
      .news-sec-item__pic
        img(src="assets/img/news-sec-02.jpg" alt="picture")
      .news-sec-item__info
        span.news-sec-item__date 3 апреля / 2020
        h3.news-sec-item__title Особенности и преимущества динамических IP-адресов
    //end news-sec__item
    //begin news-sec__item
    a(href="#").news-sec__item.news-sec-item
      .news-sec-item__pic
        img(src="assets/img/news-sec-03.jpg" alt="picture")
      .news-sec-item__info
        span.news-sec-item__date 27 марта / 2020
        h3.news-sec-item__title Удаленная работа с провайдером Apelsin.net
    //end news-sec__item
    //begin news-sec__item
    a(href="#").news-sec__item.news-sec-item
      .news-sec-item__pic
        img(src="assets/img/news-sec-02.jpg" alt="picture")
      .news-sec-item__info
        span.news-sec-item__date 3 апреля / 2020
        h3.news-sec-item__title Особенности и преимущества динамических IP-адресов
    //end news-sec__item
  //end news-sec__slider

.news-sec__footer
  a(href="#").btn.btn--grey.news-sec__btn Все новости
