//begin options
.options
  //begin options-row
  .options-row
    .options-item.options-item--text.zoom-in.animate__animated
      .options-item__bg-img(style='background-image: url("assets/img/options-bg-01.jpg")')
      a(href="#").options-item__top
        +svg('options-home')
        span.options-item__title Умный дом
      a(href="#").options-item__link Wi-Fi дверной звонок
      a(href="#").options-item__link Умная безопасность «Ajax»
      a(href="#").btn.btn--white.options-item__btn Подробнее
    a(href="#").options-item.options-item--pic.zoom-in.animate__animated
      .options-item__pic(style='background-image: url("assets/img/options-01.jpg")')
  //end options-row

  //begin options-row
  .options-row
    a(href="#").options-item.options-item--pic.zoom-in.animate__animated
      .options-item__pic(style='background-image: url("assets/img/options-02.jpg")')
    .options-item.options-item--text.zoom-in.animate__animated
      .options-item__bg-img(style='background-image: url("assets/img/options-bg-02.jpg")')
      a(href="#").options-item__top
        +svg('options-video')
        span.options-item__title IP Видеонаблюдение
      a(href="#").options-item__link Облачное видеонаблюдение
      a(href="#").options-item__link Установка IP-видеонаблюдения
      a(href="#").btn.btn--white.options-item__btn Подробнее
  //end options-row
//end options