//begin presents-section
.presents-section
  .container
    .presents-slider#presents-slider
      .presents-slider__item
        .presents-slider__pic
          img(src="assets/img/presents-01.jpg" alt="picture")
        .presents-slider__text
          span.presents-slider__term Бессрочно
          h3.presents-slider__title 250 гривен за каждого нового абонента Apelsin.Net
          p Приводите друзей - получайте бонус по 250 гривен за каждого нового абонента, подключенного по вашей рекомендации!
          a(href="#").presents-slider__btn Получить подарок

      .presents-slider__item
        .presents-slider__pic
          img(src="assets/img/presents-02.jpg" alt="picture")
        .presents-slider__text
          span.presents-slider__term С 1 апреля до 30 мая
          h3.presents-slider__title Цифровое HD-телевидение от Apelsin.Net - 30 дней бесплатно
          p Просто подключите тариф «HD Премиальный» от провайдера Apelsin.Net – и наслаждайтесь высокой четкостью первые 30 дней абсолютно бесплатно!
          a(href="#").presents-slider__btn Получить подарок

      .presents-slider__item
        .presents-slider__pic
          img(src="assets/img/presents-03.jpg" alt="picture")
        .presents-slider__text
          span.presents-slider__term С 4 июня до 30 декабря
          h3.presents-slider__title Кредит доверия для всех абонентов Apelsin.Net
          p В случае, если Вы забыли или не успели оплатить услуги вовремя, а доступ в Интернет очень важно иметь прямо сейчас, то Вы можете активировать услугу «Кредит...
          a(href="#").presents-slider__btn Получить подарок

      .presents-slider__item
        .presents-slider__pic
          img(src="assets/img/presents-02.jpg" alt="picture")
        .presents-slider__text
          span.presents-slider__term С 1 апреля до 30 мая
          h3.presents-slider__title Цифровое HD-телевидение от Apelsin.Net - 30 дней бесплатно
          p Просто подключите тариф «HD Премиальный» от провайдера Apelsin.Net – и наслаждайтесь высокой четкостью первые 30 дней абсолютно бесплатно!
          a(href="#").presents-slider__btn Получить подарок
//end presents-section