//begin top-slider
.top-slider
  .top-slider__list#top-slider__list
    .top-slider__item
      .container
        .top-slider__info
          h3.top-slider__subtitle Дорогим врачам -
          h2.top-slider__title Бесплатный интернет до конца года!
          .top-slider__hashtag
            span #Поддерживаю Врачей
    .top-slider__item
      .container
        .top-slider__info
          h3.top-slider__subtitle Дорогим врачам -
          h2.top-slider__title Бесплатный интернет до конца года!
          .top-slider__hashtag
            span #Поддерживаю Врачей 2
    .top-slider__item
      .container
        .top-slider__info
          h3.top-slider__subtitle Дорогим врачам -
          h2.top-slider__title Бесплатный интернет до конца года!
          .top-slider__hashtag
            span #Поддерживаю Врачей 3
//end top-slider