//begin top-slider
.top-slider
  .top-slider__list#top-slider__list
    .top-slider__item(style='background-color: #D3D5E2;')
      .container
        .top-slider__banner
          picture
            source(srcset="assets/img/bg-top-slider-01.jpg" media="(min-width: 768px)")
            source(srcset="assets/img/bg-top-slider-01-mob.jpg")
            img(src="assets/img/bg-top-slider-01.jpg" alt="pic")
        .top-slider__info
          h3.top-slider__subtitle Дорогим врачам -
          h2.top-slider__title Бесплатный интернет до конца года!
          .top-slider__hashtag
            span #Поддерживаю Врачей
    .top-slider__item(style='background-color: #D3D5E2;')
      .container
        .top-slider__banner
          picture
            source(srcset="assets/img/bg-top-slider-01.jpg" media="(min-width: 768px)")
            source(srcset="assets/img/bg-top-slider-01-mob.jpg")
            img(src="assets/img/bg-top-slider-01.jpg" alt="pic")
        .top-slider__info
          h3.top-slider__subtitle Дорогим врачам -
          h2.top-slider__title Бесплатный интернет до конца года!
          .top-slider__hashtag
            span #Поддерживаю Врачей 2
    .top-slider__item(style='background-color: #D3D5E2;')
      .container
        .top-slider__banner
          picture
            source(srcset="assets/img/bg-top-slider-01.jpg" media="(min-width: 768px)")
            source(srcset="assets/img/bg-top-slider-01-mob.jpg")
            img(src="assets/img/bg-top-slider-01.jpg" alt="pic")
        .top-slider__info
          h3.top-slider__subtitle Дорогим врачам -
          h2.top-slider__title Бесплатный интернет до конца года!
          .top-slider__hashtag
            span #Поддерживаю Врачей 3
//end top-slider