.popup__layer#popup__layer

//begin popup-success
.popup.popup-success#popup-success
  .popup-inn
    .popup__close
      +svg('close')
    .popup-success__check
      +svg('check')
    h2.popup-success__title Заявка удачно отправлена
    h3.popup-success__subtitle Наш сотрудник свяжется с вами в течение 24 часов для уточнения деталей подключения.
//end popup-success