//begin submenu
.submenu#submenu
  .container
    //begin submenu__left
    .submenu__left.submenu-left
      //begin submenu-left__col
      .submenu-left__col
        a(href="#").submenu-left__title
          span Домашний интернет
        ul.submenu-left__list
          li.submenu-left__item
            a(href="#").submenu-left__link Киев
          li.submenu-left__item
            a(href="#").submenu-left__link Бровары
          li.submenu-left__item
            a(href="#").submenu-left__link Чубинское
          li.submenu-left__item
            a(href="#").submenu-left__link Гора
          li.submenu-left__item
            a(href="#").submenu-left__link Большая Александровка
          li.submenu-left__item
            a(href="#").submenu-left__link Малая Александровка
          li.submenu-left__item
            a(href="#").submenu-left__link Безугловка
      //end submenu-left__col

      //begin submenu-left__col
      .submenu-left__col
        a(href="#").submenu-left__title
          span Частный сектор
        ul.submenu-left__list
          li.submenu-left__item
            a(href="#").submenu-left__link Киев
          li.submenu-left__item
            a(href="#").submenu-left__link Бровары
          li.submenu-left__item
            a(href="#").submenu-left__link Чубинское
          li.submenu-left__item
            a(href="#").submenu-left__link Гора
          li.submenu-left__item
            a(href="#").submenu-left__link Большая Александровка
          li.submenu-left__item
            a(href="#").submenu-left__link Малая Александровка
          li.submenu-left__item
            a(href="#").submenu-left__link Безугловка
      //end submenu-left__col

      //begin submenu-left__col
      .submenu-left__col
        a(href="#").submenu-left__title.submenu-left__title--link
          span Интернет в офис
        a(href="#").submenu-left__title.submenu-left__title--link
          span Оптика в квартиру
      //end submenu-left__col
    //end submenu__left
      
    //begin submenu__right
    .submenu__right.submenu-right
      //begin submenu-right__col
      .submenu-right__col
        h3.submenu-right__title Подключайтесь прямо сейчас
        h4.submenu-right__subtitle Отправьте заявку и мы подберем для вас оптимальный тариф
        a(href="#").btn.btn--green.submenu-right__btn Подключиться
      //end submenu-right__col
    //end submenu__right
//end submenu