*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.22;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;
  strong {
    font-weight: bold;
  }
}

a {
  transition: .5s;
  text-decoration: none;
  color: $link;
  &:hover {
    color: $link-hov;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}

//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  padding: 3px 10px 5px 10px;
  color: $text;
  border: 1px solid $text;
  &::placeholder {
    @include placeholder-color($text);
  }
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //свойство для исправления бага 100vh для мобильных
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  //свойство для плавной прокрутки на яблоках

  -webkit-overflow-scrolling: touch;
  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  background-color: #f9f9f9;

  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-header {
  padding-top: 60px;
  padding-bottom: 40px;

  @include max(767) {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.title {
  font-weight: bold;
  margin: 0;
  color: #252525;

  @include responsive-font(36, 24);
}

.title--center {
  text-align: center;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 10px 40px;
  cursor: pointer;
  transition: .5s;
  text-align: center;
  white-space: nowrap;
  border-radius: 26px !important;
}

.btn--grey {
  color: #252525;
  border: 1px solid #979d9d;
  background-color: transparent;
  &:hover {
    color: #fff;
    border-color: $green;
    background-color: $green;
  }
}

.btn--white {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, .3);
  background-color: transparent;
  &:hover {
    color: $brand;
    border-color: #fff;
    background-color: #fff;
  }
}

.btn--green {
  color: #fff;
  border: 1px solid $green;
  background-color: $green;
  &:hover {
    color: #fff;
    border-color: $green-hov;
    background-color: $green-hov;
  }
}
