// ***** main colors *******
$brand: #393957;
$yellow: #ec6707;
$yellow-hov: #FF9900;
$green: #73b129;
$green-hov: #95D449;
$red: #e9425e;

// ***** text colors *******
$text: #252525;
$link: #ec6707;
$link-hov: #FF9900;

$transition: .3s;