extends ../_template

block variables
  - var title       = 'Apelsin.net'
  - var description = 'Apelsin.net'
  - var ogtitle     = 'Apelsin.net'

  - var pageHeaderTitle = 'Apelsin.net'
  - var breadcrumbs     = 'breadcrumbs'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main.index
      include ../sections/top-slider

      //begin calculator-section
      .calculator-section
        //begin section-header
        .section-header
          .container
            h2.title.title--center Калькулятор услуг
        //end section-header
        include ../sections/calculator
      //end calculator-section

      //begin presents-section
      .presents-section.animate__animated.fade-in
        //begin section-header
        .section-header
          .container
            h2.title.title--center Подарки для клиентов
        //end section-header
        include ../sections/presents
      //end presents-section

      include ../sections/options

      //begin news-sec
      .news-sec.animate__animated.fade-in.animate__slow
        //begin section-header
        .section-header
          .container
            h2.title.title--center Центр новостей
        //end section-header
        include ../sections/news-sec
      //end news-sec

      //begin advantage-sec
      .advantage-sec.animate__animated.fade-in
        //begin section-header
        .section-header
          .container
            h2.title.title--center Никаких минусов, только выгоды!
        //end section-header
        include ../sections/advantage-sec
      //end advantage-sec
        
      //begin request-sec
      .request-sec.animate__animated.fade-in
        include ../sections/request-sec
      //end request-sec
    //end content

    include ../sections/footer
    include ../sections/scripts
    script(src="https://www.google.com/recaptcha/api.js" async defer)