extends ../_template

block variables
  - var title       = 'Apelsin.net'
  - var description = 'Apelsin.net'
  - var ogtitle     = 'Apelsin.net'

  - var pageHeaderTitle = 'Apelsin.net'
  - var breadcrumbs     = 'breadcrumbs'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main.index
      include ../sections/top-slider

      //begin calculator-section
      .calculator-section
        //begin section-header
        .section-header
          .container
            h2.title.title--center.animate__animated.zoom-in Калькулятор услуг
        //end section-header
        include ../sections/calculator
      //end calculator-section

      //begin presents-section
      .presents-section
        //begin section-header
        .section-header
          .container
            h2.title.title--center.animate__animated.zoom-in Подарки для клиентов
        //end section-header
        include ../sections/presents
      //end presents-section

      include ../sections/options

      //begin news-sec
      .news-sec
        //begin section-header
        .section-header
          .container
            h2.title.title--center.animate__animated.zoom-in Центр новостей
        //end section-header
        include ../sections/news-sec
      //end news-sec

      //begin advantage-sec
      .advantage-sec
        //begin section-header
        .section-header
          .container
            h2.title.title--center.animate__animated.zoom-in Никаких минусов, только выгоды!
        //end section-header
        include ../sections/advantage-sec
      //end advantage-sec
        
      //begin request-sec
      .request-sec
        include ../sections/request-sec
      //end request-sec
    //end content

    include ../sections/footer
    include ../sections/scripts
    //script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js")
    script(src="https://www.google.com/recaptcha/api.js" async defer)