//begin breadcrumbs
.breadcrumbs
  ul.breadcrumbs__list
    li.breadcrumbs__item
      a.breadcrumbs__link(href="/") Главная
      +svg('arr-right-full')
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Акции и программы лояльности
      +svg('arr-right-full')
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") #{breadcrumbs}
//end breadcrumbs